@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");

body {
  margin: 0;
}

.myaccount-section {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 80px;
  font-family: "Heebo", sans-serif;
  padding: 40px 140px 120px 140px;
}

.myaccount-section h1 {
  font-size: 72px;
  line-height: 10.5px;
  color: #ff4e00;
  font-weight: 600;
}

.settings-container {
  display: flex;
  flex-grow: 1;
}

.settings-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 32px;
  margin-right: -25px;
}

.setting-nav-outer:nth-child(1) {
  width: 335px;
  box-sizing: border-box;
}

.setting-nav-outer:nth-child(2) {
  width: 300px;
}

.setting-nav-outer:nth-child(3) {
  width: 265px;
}

.setting-nav-outer:nth-child(4) {
  width: 230px;
}

.setting-nav-inner {
  height: 70px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  -webkit-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  transform: skewX(20deg);
  transition: 0.2s;
}

.setting-nav-outer--active .setting-nav-inner .setting-nav-content {
  background-color: #202020;
  color: #fff;
}

.setting-nav-outer:hover .setting-nav-inner .setting-nav-content {
  background-color: #202020;
  color: #fff;
}

.setting-nav-outer {
  cursor: pointer;
  transition: 0.3s;
}

.setting-nav-content {
  border: 2px solid #202020;
  height: 64px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #202020;
}

.setting-nav-content > p {
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
  font-size: 18px;
  line-height: 32px;
  margin: 0;
}

.profile-settings {
  padding-left: 40px;
  border-left: 0.2em solid black;
  flex-grow: 1;
  max-width: 780px;
  z-index: 2;
  background-color: #fff;
}

.profile-picture {
  margin-bottom: 40px;
}

.input-container-startup {
  margin-bottom: 40px;
}

.profile-picture__title {
  font-size: 18px;
  margin: 0 0 16px 0;
}

.profile-picture__circle {
  width: 160px;
  height: 160px;
  background-color: #d9d9d9;
  border-radius: 50%;
  position: relative;
}

.profile-picture__circle-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-picture__edit {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.profile-picture__media {
  display: flex;
  align-items: center;
  gap: 24px;
}

.profile-picture__media p {
  margin: 0;
}

.profile-picture__media > p {
  color: #707070;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.input-explainer-text {
  margin: 0;
}

.input-container label {
  color: #202020;
  font-weight: 600;
  font-size: 18px;
}

.input-container input {
  padding: 8px 28px;
  border: none;
  background-color: #f4f4f3;
  border-radius: 19px;
  font-size: 18px;
  width: 100%;
}

.input-margin {
  margin-bottom: 8px;
}

.account-inputs__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.update-account-sticky {
  left: 0;
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #fff;
  border-top: 3px solid #d9d9d9;
}

.update-account-container {
  display: flex;
  max-width: 780px;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 0;
}

.update-account-btn {
  padding: 0 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(20deg);
  color: #fff;
  background: #ff5c00;
  border: none;
  height: 47px;
  cursor: pointer;
}

.update-account-btn span {
  transform: skew(-20deg) !important;
  font-size: 18px;
  font-weight: 600;
}

.input--optional-text {
  color: #707070;
  font-weight: 400;
}

.phone-number-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.phone-number-wrapper input {
  flex-grow: 1;
}

.phone-number-wrapper select {
  border: none;
  background-color: #f4f4f3;
  border-radius: 19px;
  font-size: 19px;
  color: #707070;
  background-image: url("/assets/dropdown-arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 7px top 50%, 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.phone-number-wrapper select::-ms-expand {
  display: none;
}

.city-input-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.city-input-container input {
  width: auto;
}

.city-input-container select {
  padding: 8px 31px 8px 28px;
  border: none;
  background-color: #f4f4f3;
  border-radius: 19px;
  font-size: 18px;
  color: #707070;
  background-image: url("/assets/dropdown-arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 7px top 50%, 0 0;
  background-size: auto, 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.add-city-btn {
  border-radius: 50%;
  border: none;
  height: 37px;
  width: 37px;
  font-size: 24px;
  font-weight: 600;
}

.input-textarea {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  padding: 8px 24px;
  min-height: 160px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  border: none;
  border-radius: 19px;
  background-color: #f4f4f3;
}

.small-input {
  width: auto !important;
}

.input-container select {
  padding: 8px 41px 8px 28px;
  border: none;
  background-color: #f4f4f3;
  border-radius: 19px;
  font-size: 18px;
  color: #707070;
  background-image: url("/assets/dropdown-arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 7px top 50%, 0 0;
  background-size: 12px auto, 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.delete-account-btn {
  border: none;
  padding: none;
  color: #ff5c00;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
}

.optional-span {
  color: #707070;
  font-weight: 400;
}
